.slider_title {
  font-size: 2vw;
  color: #f092f3;
  text-shadow: 0 0 10px #de4be0, 0 0 35px #de4be0, 0 0 40px #de4be0, 0 0 210px #de4be0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
}
.contain-carousel{
  height: 70vh;
}
.carrusel_item{
  width: 80%;
  height: 100%;
  margin: auto;
}
.card-wrapper {
  position: relative;
  width: 50vw;
  height: 450px;
  padding: 0 10px;
  margin-top: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 100%;
  height: 80%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover img {
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .card-image {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all .9s;
  transition: all .9s;
}

.buttons-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.buttons-icons li {
  list-style: none;
  }

.buttons-icons li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 50px;
  line-height: 50px;
  background: rgb(7, 0, 5);
  border: 1px solid #de4be0;
  border-radius: 20px;
  font-size: 23px;
  color: #de4be0;
  font-weight: bold;
  margin: 0 6px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.card:hover .buttons-icons li a {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.card:hover .smooth{
 background-color: rgba(12, 12, 12, 0.452);
 width: 100%;
 height: 100%;
 position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  
}

.buttons-icons li a:hover {
  background: rgb(253, 253, 253);
  -webkit-transition: 1s;
  transition: 1s;
  color: #4d0c4d;
  box-shadow: 0 0 1px #de4be0, 0 0 1px #de4be0, 0 0 2px #de4be0, 0 0 40px #de4be0;
}
.buttons-icons li a .fa {
  -webkit-transition: .8s;
  transition: .8s;
}

.buttons-icons li a .fa:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #fff;
}
.invisible{
  color: transparent;
}

.card:hover li:nth-child(1) a {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.card:hover li:nth-child(2) a {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.card:hover li:nth-child(3) a {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.card:hover li:nth-child(4) a {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.details {
  position: absolute;
  bottom: 400px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 5px 100px;
  -webkit-transition: .6s;
  transition: .6s;
}

.details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  font-weight: 900;
}

.details h2 .job-title {
  font-size: 16px;
  line-height: 2;
  color: #333;
  font-weight: 500;
  display: block;
}

.card:hover .details {
  bottom: 0;
}

.carousel .slick-dots {
  bottom: 0vw;
  }

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(1, 177, 177);
  border-radius: 20px;
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: .5;
  color: #000;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel .slick-dots li.slick-active button, .carousel .slick-dots li:hover button {
  border-color: rgb(238, 235, 235);
}

.carousel .slick-dots li.slick-active button:before, .carousel .slick-dots li:hover button:before {
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.carousel .slick-prev, .carousel .slick-next {
  width: 50px;
  height: 50px;
   border-image-source: linear-gradient(to left, #2ae3fc, #9a03ff);
  border-style: solid;
  border-width: 3px;
  border-image-slice: 10%;
  border-radius: 100px;
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
 }

.carousel .slick-prev:hover, .carousel .slick-prev:focus, .carousel .slick-next:hover {
  color: #fff;
  outline:auto;
  font-size: 0.5rem;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
  color: rgb(255, 254, 254);
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}
/*# sourceMappingURL=App.css.map */

@media only screen and (max-width: 750px) {
  .slider_title {
    font-size: 6vw;
    padding-top: 3rem;
  }
  .buttons-icons {
   flex-direction: column;
   }
   .buttons-icons li{
    margin-bottom: 1rem;
   }
   .details {
     padding: 5px 10px;
   
  }
   .details h2 {
   
    min-width: 100px;
    font-weight: 900;
  }
  
  .details h2 .job-title {
    font-size: 0.7rem;
    line-height: 2;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 15px;
  }
  .carousel .slick-prev, .carousel .slick-next {
    width: 20px;
    height: 20px;
    display: none;
    }
    .carousel .slick-next{
      right: -22px;
    }
    .carousel .slick-prev{
      left: -27px;
    }
   
}