.footer{
    background: #1B001C;
    height: 100vh;
    position: relative;
}
form{
    margin-top: 1rem;
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: aliceblue;
}
.box_form{
    display: flex;
    flex-direction: column;
}
.sectform{
    display: flex;
    flex-direction: column;
}

.badge{
      background-color: #382350;
}

.iconwhats{
    color: #97d711e8;
    font-size: 2rem;
}    
.iconemail{
    font-size: 1.7rem;
    color: aquamarine;
}
.titleform{
    text-align: center;
    font-size: 2rem;
}

:focus{outline: none;}

/* necessary to give position: relative to parent. */
input[type="text"][type="number"]{
     width: 100vw; 
     box-sizing: border-box;
     color: aliceblue;
    }


.col-3{
    float: left;
    width: 90%;
    margin: 40px 3%;
    position: relative;
    } /* necessary to give position: relative to parent. */

.effect-16{
    width: 90%;
    border: 0px; 
    padding: 10px 5px;
    border-bottom: 3px solid #ccc;
    background-color: transparent;
    }

.effect-16 ~ .focus-border{
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #7f3985;
    transition: 0.4s;
    }

.effect-16:focus ~ .focus-border,.has-content.effect-16 ~ .focus-border{
        width: 100vw;
        transition: 0.4s;
        }

.effect-16 ~ label{
    position: absolute;
    left: 25px;
    width: 100%;
    top: 10px;
    color: rgb(250, 242, 242);
    transition: 0.3s;
    z-index: -3;
    letter-spacing: 0.5px;
    }

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
    top: -16px;
    font-size: 15px;
    color: #00534A; 
    transition: 0.3s;
    }

#boton_enviar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    flex-direction: column;
  }
#boton_enviar button{
    width: 12rem;
    height: 39px; 
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #de4be0;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 25px;
  }

#boton_enviar button:hover{
    font-size: 1rem;
    box-shadow: 0 0 1px #de4be0, 0 0 1px #de4be0, 0 0 2px #de4be0, 0 0 40px #de4be0;
}
.waves{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0%;
   }

@media only screen and (min-width: 630px) {
    form{
         padding-top: 5rem;
        }
    .mahi_holder{
        min-height: 10rem;
   }
    .box_form{
        display: flex;
      
    }
    .sectform{
        display: flex;
        flex-direction: row;
    }
      
    .iconwhats{
        color: #97d711e8;
        font-size: 2rem;
    }    
    .titleform{
       
        font-size: 2rem;
    }
 
    :focus{outline: none;}

    /* necessary to give position: relative to parent. */
    input[type="text"]{
         color: #333;
        width: 100%; 
         box-sizing: border-box;
        }
    
    
    .col-3{
        float: left;
        width: 44%;
        margin: 40px 3%;
        position: relative;
        } /* necessary to give position: relative to parent. */
    
    input[type="text"]{
          color: #333; 
         width: 100%; 
         box-sizing: border-box;
        letter-spacing: 1px;
    }
    
    
    .effect-16{
        border: 0px; 
        padding: 10px 5px;
        border-bottom: 3px solid #ccc;
        background-color: transparent;
        }
    
    .effect-16 ~ .focus-border{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 3px;
        background-color: #7f3985;
        transition: 0.4s;
        }
    
    .effect-16:focus ~ .focus-border,.has-content.effect-16 ~ .focus-border{
            width: 100%;
            transition: 0.4s;
            }
    
    .effect-16 ~ label{
        position: absolute;
        left: 25px;
        width: 100%;
        top: 10px;
        color: rgb(250, 242, 242);
        transition: 0.3s;
        z-index: -3;
        letter-spacing: 0.5px;
        }
    
    .effect-16:focus ~ label, .has-content.effect-16 ~ label{
        top: -16px;
        font-size: 15px;
        color: #00534A; 
        transition: 0.3s;
     }
     #boton_enviar{
        flex-direction: row;
         width: 28rem;
         margin-top: 2%;
    }
    #boton_enviar button{
        margin-right: 5px;
    }
   
    #campoCelu{
       width: 35vw;
    }
    .waves{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 150px;
        bottom: 0%;
       }
  
}    