@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: "poppins", sans-serif;
  background: #1B001C;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 100vh;
  background: #1f2937;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(118, 239, 250), rgb(78, 49, 204));
}