@font-face{
    font-family:"segoesc";
    src: url("../../assets/fonts/segoesc.ttf") format("truetype");
    font-style: normal;
    font-weight: none;
    }

.name{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff0de;
    font-family:"segoesc"; 
    padding-top: 5px;
    width: 25vw;
    text-align: center;
  }
.slogan{
  color: #fff0de;
  font-size: 0.7rem;
  width: 25vw;
 }
 .navlink {
    display: inline-block;
    color: #fff0de;
    font-weight: 500;
 }
  .navlink:hover {
    font-size: 1rem;
    transition: 0.6s;
    font-weight: 900;
 }
 .navlink > .active {
  border-bottom: 1px solid rgb(5, 247, 186);
  
}

 @media screen and (max-width:700px){
  .navlink {
   font-size: 1.1rem;
 }
  .name{
    font-size: 1.1rem;
    text-align: center;
    width: 60vw;
   }
  .slogan{
    text-align: center;
    width: 60vw;
    font-size: 0.6rem;
  }
}